@model ServiceClima.Models.Clima
@{
	Layout = "_Layout";
}
<form asp-controller="Account" asp-action="Logout" method="post">
	<button class="btn btn-info" type="submit">Cerrar sesión</button>
</form>
<div class="container">


<h1 style="text-align:center;">Bienvenido, agregue su nuevo pronóstico</h1>
	<h5 style="text-align:center;">
    Llene los campos correctamente por favor
</h5>
<br />
<form asp-action="AddClima">
	<div class="agregar mb-3">

	  <input asp-for="Ciudad" type="text" class="form-control" placeholder="Agregue ciudad"/>
		<span class="text-danger" asp-validation-for="Ciudad"></span>
		<br />

			<input asp-for="Temperatura" type="text" class="form-control" placeholder="Agregue temperatura" required/>
			<br />

			<input asp-for="Humedad" type="text" class="form-control" placeholder="Agregue humedad" required/>
	</div>

	@if (TempData["msg"] !=null)
	{
		<div class="mb-3">
			@TempData["msg"]
		</div>
	}
		<div class="btn-container">
			<button type="submit" class="btn btn-success">Enviar</button>
			<a href="/Clima/DisplayClimas" class="btn btn-warning">Lista de pronósticos</a>
		</div>

</form>
</div>