@model ServiceClima.Models.Clima
@{
	Layout = "_Layout";
}
<form asp-action="UpdateClima">
	<h2>Editar pronóstico</h2>
	<input asp-for="Id" type="hidden" class="form-control" />
	<div class="editar">

		<br />
	
			<input asp-for="Ciudad" type="text" class="form-control" placeholder="@Model.Ciudad"/>
			<span class="text-danger" asp-validation-for="Ciudad"></span>


		<br />
		

			<input asp-for="Temperatura" type="text" class="form-control" placeholder="@Model.Temperatura" />


		<br />

			<input asp-for="Humedad" type="text" class="form-control" placeholder="@Model.Humedad" />

		<br />

	
	@if (TempData["msg"] != null)
	{
		<div class="mb-3">
			@TempData["msg"]
		</div>
	}
		<button type="submit" id="btnE" class="btn btn-primary">Modificar</button>
		<a href="/Clima/DisplayClimas" class="btn btn-warning">Volver</a>
	</div>

</form>
